:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --text-color: rgb(25, 25, 25);
  --yellow-color: gold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 227, 255);
  color: var(--text-color);
}

nav {
  position: relative;
}

h1 {
  margin-bottom: 40px;
  font-size: 32px;
}

/* save-as-pdf-btn */

.game-items-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
  width: 90%;
  row-gap: 30px;
}

.game-item {
  border: none;
  border-radius: 10px;
  width: 500px;
  text-align: left;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(246, 246, 255);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.game-item:hover {
  /*  */
}

.title-rating-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-stars {
  display: flex;
  gap: 2px;
  color: var(--yellow-color);
  cursor: pointer;
}

.rating-stars ion-icon {
  width: 15px;
  height: 15px;
}

.game-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26%;
  row-gap: 10%;
  margin-bottom: 5%;
}

.game-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 165px;
}

ion-icon {
  width: 25px;
  height: 25px;
}

.social-game-icon {
  width: 25px;
  height: 30px;
  color: var(--text-color);
}

.btn {
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 7rem;
  height: 2rem;
}

.btn-link {
  color: var(--text-color);
  /* border: 3px solid var(--yellow-color); */
  border-color: var(--yellow-color);
  /* border-radius: 10px; */
  /* padding: 10px 20px; */
  text-decoration: none;
  /* width: fit-content; */
  font-weight: 500;
  transition: all 0.4s;
}

.btn-link:hover {
  transform: scale(1.05);
}

.btn-pdf {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  background-color: var(--text-color);
  color: white;
  font-weight: 800px;
  /* padding: 5px 10px; */
  border-color: rgb(25, 25, 25);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-pdf:hover {
  box-shadow: inset 0 0 0 1px #fff;
}
