:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --text-color: rgb(25, 25, 25);
  --yellow-color: #ffdd00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* background-color: rgb(227, 227, 255); */
  background: linear-gradient(90deg, #f6ebf9 0%, #fffdf2 100%);
  color: var(--text-color);
  font-family: "ABeeZee", monospace;
}

p {
  font-size: 1.6rem;
}

nav {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 5rem;
}

h1 {
  font-size: 3.2rem;
}

.game-items-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
  width: 90%;
  row-gap: 3rem;
}

.game-item {
  border: none;
  border-radius: 10px;
  width: 50rem;
  text-align: left;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;

  gap: 1.4rem;
  background-color: rgb(246, 246, 255);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  /* height: 248px; */
  min-height: 248px;
}

.game-item:hover {
  opacity: 1;
}

.title-rating-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-name {
  font-size: 22px;
}

.rating-stars {
  display: flex;
  gap: 2px;
  color: var(--yellow-color);
  cursor: pointer;
}

.rating-stars ion-icon {
  width: 18px;
  height: 18px;
}

.game-description {
  min-height: 43px;
}

.game-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26%;
  row-gap: 10%;
  margin-bottom: 5%;
}

.game-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 165px;
}

/* Game details icons */
.icon-png {
  width: 35px;
  /* height: 35px; */
}

.btn {
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  padding: 0 16px;
  height: 32px;
  background: none;
  font-family: inherit;
  z-index: 1;
}

.btn-link {
  display: inline-block; /* or inline-flex */
  position: relative;
  /* background: linear-gradient(90deg, #8600ab 0%, #b77700 100%); */
  /* background: linear-gradient(90deg, #c800ff 0%, #ffdd00 100%); */
  background: linear-gradient(90deg, #c800ffc2 0%, #ff4800bf 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  /* border-color: var(--yellow-color); */
  border: none;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.4s;
  z-index: 1;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

/* .btn-link::before {
  content: "";
  display: block;
  width: 220%;
  height: 220%;
  background: linear-gradient(90deg, #c800ff 0%, #ffdd00 100%);
  position: absolute;
  z-index: -1;
  border-radius: inherit;
} */

.btn-link:hover {
  transform: scale(1.05);
}

.primary-buttons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: #6d006f;
  color: white;
  /* padding: 5px 10px; */
  border-color: #6d006f;

  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 1px #fff;
}

.link-and-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-edit {
  /* background-color: var(--text-color); */
  color: #c800ff;
  border-color: #c800ff;
  border-radius: 5px;

  cursor: pointer;
  width: 100px;
  background: none;

  transition: all 0.4s;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn-edit:hover {
  /* transform: scale(1.05); */
  color: white;
  background-color: #c800ff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  z-index: 5;
}

label {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

input,
textarea,
select {
  /* height: 30px; */
  width: 450px;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  float: left;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: 300ms ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
  /* transform: scale(1.05); */
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgb(141, 141, 141);
}

textarea {
  height: 54px;
}

form {
  width: fit-content;
  margin: 15vh auto;
  padding: 15px 30px;
  background: linear-gradient(90deg, #f8deff 0%, #fffadf 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.inputs-and-labels {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.hidden {
  display: none;
}
